.model {
    font-size: 12px;
  }
  .model > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 25px;
    text-align: center;
    padding: 5px;
  }
  .model > .content {
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
  }
  .model > .actions  {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .model > .close  {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }